* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  margin: 20px;
}

.container {
  border: #000 solid 4px;
  width: 1000px;
  margin: 0 auto;
  display: grid;
  background-color: #f6f7f8;
}

h1 {
  margin-bottom: 20px;
  letter-spacing: -0.6;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 20px;
}

h3 {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: -0.5;
}

ul {
  margin-left: 36px;
  font-size: 20px;
}

li {
  margin-bottom: 10px;
}

.column-title {
  font-size: 24px;
  margin-top: 15px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.img-name {
  display: flex;
  align-items: center;
}

img {
  margin-left: 30px;
}

.name {
  font-size: 24px;
  margin-left: 10px;
}

.page-links {
  font-size: 24px;
  margin-right: 30px;
}

.big-part {
  text-align: center;
  margin-bottom: 80px;
}

h1 {
  font-size: 62px;
}

.first-part {
  border-bottom: #000 solid 4px;
}

.triple-column {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
}

.projects {
  border-bottom: #000 solid 4px;
}

.projects-section {
  border-bottom: #000 solid 3px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.projects-section:last-child {
  border-bottom: 0;
}

.projects-names,
.column-title {
  margin-left: 20px;
  margin-right: 10px;
}

.work-experience {
  border-bottom: #000 solid 3px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #1971c2;
  text-decoration: none;
}

.link {
  display: inline-block;
  margin-left: 20px;
}

.work-experience a {
  display: inline-block;
  margin-bottom: 20px;
}

.row {
  border-bottom: #000 solid 3px;
  border-left: #000 solid 3px;
}

.education {
  border-bottom: #000 solid 3px;
  border-left: #000 solid 3px;
}

.courses {
  margin-top: 30;
}

.reviews {
  display: flex;
  /* display: grid; */
  gap: 40px;
  /* justify-content: center; */
  margin: 30px;
  margin-bottom: 60px;
}

blockquote {
  margin-bottom: 10px;
  font-size: 18px;
}

.author {
  font-size: 16px;
  color: #868e96;
}

.author-name {
  margin-top: 10px;
}

.author-title {
  margin-top: -12px;
  margin-bottom: -10px;
}

.reviews-title {
  margin-top: 30px;
  margin-left: 40px;
}

.review-1 {
  border: #000 solid 3px;
  border-radius: 25px;
  padding: 12px;
}

.review-2 {
  border: #000 solid 3px;
  border-radius: 25px;
  padding: 12px;
}

.review-3 {
  border: #000 solid 3px;
  border-radius: 25px;
  padding: 12px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
}
