* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
}

ul {
  margin-left: 30px;
}

li {
  margin-bottom: 10px;
}

.container {
  border: #000 solid 4px;
  width: 1000px;
  margin: 0 auto;
  display: grid;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.img-name {
  display: flex;
  align-items: center;
}

img {
  margin-left: 30px;
}

.name {
  font-size: 24px;
  margin-left: 10px;
}

.page-links {
  font-size: 24px;
  margin-right: 30px;
}

.big-part {
  text-align: center;
  margin-bottom: 80px;
}

h1 {
  font-size: 50px;
}

.first-part {
  border-bottom: #000 solid 4px;
}

.triple-column {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
}

.projects {
  border-bottom: #000 solid 4px;
}

.projects p {
  border-bottom: #000 solid 3px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.projects p:last-child {
  border-bottom: 0;
}

.projects-title {
  /* margin-left: 20px; */
}

.work-experience {
  border-bottom: #000 solid 3px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #3498db;
  text-decoration: none;
}

.work-experience a {
  display: inline-block;
  margin-bottom: 20px;
}

.row {
  border-bottom: #000 solid 3px;
  border-left: #000 solid 3px;
}

.education {
  border-bottom: #000 solid 3px;
  border-left: #000 solid 3px;
}

.reviews {
  display: flex;
  /* display: grid; */
  gap: 40px;
  /* justify-content: center; */
  margin: 30px;
  margin-bottom: 60px;
}

.reviews-title {
  margin-top: 30px;
  margin-left: 40px;
}

.review-1 {
  border: #000 solid 3px;
  border-radius: 25px;
  padding: 12px;
}

.review-2 {
  border: #000 solid 3px;
  border-radius: 25px;
  padding: 12px;
}

.review-3 {
  border: #000 solid 3px;
  border-radius: 25px;
  padding: 12px;
}

footer {
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
}
